:root{
    --fondo: #A2D2DF;
    --encabezado: #F6EFBD;
    --contenedor: #E4C087;
    --bordes: #BC7C7C;
}
body{
    font-family: "Roboto Flex", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--encabezado);
    
}

nav.navbar{
    margin-bottom: 1em;
    width: 100%;
}

nav.navbar div.container-fluid button.navbar-toggler{
    background-color: var(--fondo);
}
nav.navbar a.nav-link{
    width: fit-content;
    border-radius: 1em;
    padding: 0.5em 2em;
}
nav.navbar a.nav-link:hover{
    background-color: var(--encabezado);
}

nav.navbar div.container-fluid a.navbar-brand{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.navbar div.container-fluid a.navbar-brand img{
    min-height: 25px;
    min-width: 50px;
    
    border-radius: 1em;
    border: black 1px solid;
    
}
div.historia-banda{
    width: 75%;
}

div#carouselExampleCaptions div.carousel-inner div.carousel-item img{
    aspect-ratio: 1;
    width: 70vw;;
    
}
div.accordion{
    width: 100%;
}


footer{
    width: 100%;
}

footer img{
    max-width: 20px;
}

